body {
    background-color: black;
    color: white;
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 700px;
    text-align: center
}

header {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
    border-bottom: 2px solid white;
    padding-bottom: 30px;
}

h2 {
    text-align: left;
    font-size: 2rem;
}

h3 {
    text-align: left;
    font-size: 1.5rem;
}

section {
    margin-bottom: 50px;
}

.italic {
    position: relative;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 10px;
    opacity: 0.8;
    bottom: 10px;
    text-align: right;

}

.icons-container{
    display: flex; 
    justify-content: flex-end; 
    gap: 10px; 
}

.icons{
    position: relative;
    width: 32px; 
    height: 32x; 
    bottom: 15px;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    margin-top: 10px;
}
