body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
    perspective: 1000px; /* Add perspective for 3D effect */
    overflow: hidden;
}

#textAbove1 {
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease; /* Transition for fade in/out */
    font-size: 3vw;
    margin-bottom: 40px;
    color: white;
}

#textAbove2 {
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease; /* Transition for fade in/out */
    font-size: 2vw;
    margin-bottom: 40px;
    color: white;
}

#textBelow1 {
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease; /* Transition for fade in/out */
    font-size: 2vw;
    margin-top: 30px;  
    color: white;
}

#textBelow2 {
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease; /* Transition for fade in/out */
    font-size: 1.8vw;
    margin-top: 30px;  
    color: white;
}

#tossButton {
    opacity: 0; /* Initially hidden */
    padding: 10px 20px;
    font-size: 1.5vw;
    cursor: pointer;
    margin-top: 50px;
    transition: opacity 1s ease, transform 0.3s ease, color 0.3s ease;
    background: transparent;
    border: 3px solid white;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#tossButton:hover {
    color: #777; /* Slightly paler text color */
    transform: translateY(-5px); /* Gently lifts up */
}

#picture {
    width: 18vw;
    height: auto;
    margin-bottom: 30px;
    transition: transform 1s ease;
    margin-right: 20px;
}

#coin {
    position: fixed;
    bottom: -65px;
    width: 3.5vw;
    height: 3.5vw;
    background-color: white;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: bottom 1s ease, left 1s ease, transform 1s ease, opacity 1s ease;
    opacity: 0; /* Initially hidden */
}
